@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  margin: 0;
  background-color: #111;
  font-family: 'Roboto';
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  margin-bottom: 12px;
  font-size: 40px;
  color: #fff;
}
.input {
  display: flex;
  border-radius: 3px;
  background-color: #fff;
}
.input .protocol {
  padding: 10px 0 10px 15px;
  color: #444;
}
.input input {
  border: 0;
  padding: 11px 15px 9px 0;
  background: transparent;
  color: #444;
  outline: none;
}